
install:
  - gitversion /l console /output buildserver
  - choco install codecov

configuration:
  - Release

dotnet_csproj:
  patch: true
  version: '$(GitVersion_NuGetVersion)'

build_script:
  - dotnet build

test_script:
  - dotnet test .\ReportPortal.Client.Tests\ReportPortal.Client.Tests.csproj --no-build /p:CollectCoverage=true /p:CoverletOutputFormat=OpenCover /p:CoverletOutput=./Coverage.xml

after_test:
  - dotnet pack --include-symbols
  - codecov -f .\ReportPortal.Client.Tests\Coverage.xml

artifacts:
  - path: '**\*.nupkg'