image: Visual Studio 2017

install:
  - gitversion /l console /output buildserver
  - dotnet tool install -g codecov.tool

configuration:
  - Release

dotnet_csproj:
  patch: true
  version: '$(GitVersion_SemVer)'

build_script:
  - dotnet pack

test_script:
  - dotnet test --no-build /p:CollectCoverage=true /p:CoverletOutputFormat=OpenCover /p:CoverletOutput=./Coverage.xml

after_test:
  - codecov -f .\ReportPortal.Client.Tests\Coverage.xml

artifacts:
  - path: '**\*.nupkg'