image: Visual Studio 2019

environment:
  IGNORE_NORMALISATION_GIT_HEAD_MOVE: 1

install:
  - dotnet tool install -g codecov.tool

configuration:
  - Release

build_script:
  - dotnet pack

test_script:
  - dotnet test /p:CollectCoverage=true /p:CoverletOutputFormat=OpenCover /p:CoverletOutput=./Coverage.xml

after_test:
  - codecov -f test\ReportPortal.Client.IntegrationTests\Coverage.*.xml

artifacts:
  - path: '**\*.nupkg'
  - path: '**\*.snupkg'
  - path: '**\*.html'