name: Release Dev

on:
  push:
    branches:
      - develop

jobs:
  Build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
      with: 
        fetch-depth: 0
    - name: Pack
      run: dotnet pack -c Release -o pkgs
    - name: Upload Artifacts
      uses: actions/upload-artifact@v3
      with:
        name: pkgs
        path: pkgs/*.?(s)nupkg
  
  Publish:
    environment: 
      name: GitHub Packages
    runs-on: ubuntu-latest
    needs: Build
    
    steps:
    - name: Download Artifacts
      uses: actions/download-artifact@v3
    - name: Push
      run: dotnet nuget push **/*.nupkg -k ${{ secrets.GITHUB_TOKEN }} -s 'https://nuget.pkg.github.com/reportportal/index.json'
